%label, .label {
	// font-family: f();
	font-size: 14px;
	letter-spacing: 1px;
	color: c(dark);
	text-transform: uppercase;
	cursor: pointer;
}

// M e n ú
%label-menu, .label-menu {
	@extend %Nitti;
	font-size: 12.3px;
	text-transform: uppercase;
}