.header {
    width: 104px;
    height: auto;
    position: fixed;
    right: 0;
    z-index: 9;
}

.main-nav {
    width: 100vh;
    height: 104px;
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    @include under(sm) {
        transform: initial;
        transform-origin: initial;
        width: 100%;
        left: 0;
    }

    // .menu-header-menu-container {
    div {
        width: 100%;
        height: 100%;

        ul {

            margin: 0 auto;
            height: 100%;
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: right;
            justify-content: flex-end;

            li {
                height: 26px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: 10px;
                padding: 13px;

                &:nth-child(odd) {
                    background-color: black;
                    color: #fff;
                }

                &:nth-child(even) {
                    background-color: #fff;
                    color: #000;
                }

                a {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    justify-content: flex-end;
                    cursor: pointer;
                    padding: 10px;
                    @extend %label-menu;
                    @include under(sm) {
                        justify-content: flex-start;
                        padding: 3px;
                    }
                }
            }
        }
    }
}

.page {
    &-about {
        .header {
            width: 78px;
            .main-nav {
                height: 78px;
                ul li {
                    &:nth-child(1) {
                        display:none;
                    }
                }
            }
        }
        .about {
            padding: 10px;
            @include under (sm){
                margin-top: 78px;
            }
            
            &__footer {
                @include under(sm) {
                    width: 100%;
                    left: 0px;
                    padding: 0 10px;
                }
            }
        }
    }

    &-exhibition {
        .header {
            width: 52px;
            @include under(sm) {
                height: 78px;
            }
            .main-nav {
                height: 52px;
                @include under(sm) {
                    height: 78px;
                }
                ul li {
                    &:nth-child(1) {
                        display:none;
                        @include under(sm) {
                            display: block;
                            background-color: #fff;
                            color: black;
                        }
                    }
                    &:nth-child(2) {
                        display:none;
                    }
                }
            }
        }
        .exhibition {
            padding: 10px;
            .sidebar {
                @include under(sm) {
                    display: none;
                }
            }
        }
    }
}

.post-type-archive-artist {
    .header {
        width: 22px;
        .main-nav {
            height: 22px;
            @include under(sm) {
                height: 78px;
            }
            ul li {
                &:nth-child(1) {
                    display:none;
                    @include under(sm) {
                        display: block;
                        background-color: #fff;
                        color: black;
                    }
                }
                &:nth-child(2) {
                    display:none;
                    @include under(sm) {
                        display: block;
                        background-color: black;
                        color: white;
                    }
                }
                &:nth-child(3) {
                    display:none;
                    
                }
            }
        }
    }
    .archive-artist {
        padding: 0 22px 0 0;
        @include under(sm) {
            padding: 0px;
            margin-top: 78px;
        }
        .sidebar {
            @include under(sm) {
                // width: calc(100% - 22px);
                display: none;
            }
        }
    }
}

.single-artist {
    .header {
        width: 0px;
        .main-nav {
            height: 22px;
            @include under(sm) {
                height: 52px;
            }
            ul li {
                padding: 0;
                &:nth-child(1) {
                    display:none;
                    @include under(sm) {
                        display: block;
                    }
                }
                &:nth-child(2) {
                    display:none;
                    @include under(sm) {
                        display: block;
                    }
                }
                &:nth-child(3) {
                    display:none;
                }
                &:nth-child(4) {
                    @include under(sm) {
                        display:none;
                    }
                }
            }
        }
    }
    .artist-single {
        padding: 0 0px 0 0;
        .sidebar {
            @include under(sm) {
                // width: calc(100% - 0px);
                display: none;
            }
        }
    }
}
